<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
</head>

<body>

    <section class="container">
        <h1>Lorem ipsum dolor sit iste quo?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quod voluptatem similique aliquid. A
            architecto quam optio omnis impedit. Nam laudantium obcaecati maxime totam fugit odio iste enim blanditiis
            magni. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet doloremque ratione numquam maxime
            itaque eligendi voluptatem quam debitis error quas doloribus, nisi laudantium optio. Porro dicta suscipit
            dolorem doloremque distinctio.</p>
    </section>

    <script src="./assets/js/bundle.js"></script>
</body>

</html>